:root {
  --blue: #4385e8;
}

main {
  height: 80vh;
}

.nav-link.active {
  font-weight: 600;
  background: var(--blue);
  color: white;
}

.scrollable {
  overflow: auto;
}

.scrollable.max-h {
  max-height: 25rem;
}

.border-less {
  border: none;
}

/* Card */

.card {
  border-radius: 15px;
}

.storie-id {
  font-size: clamp(2rem, 3rem, 4rem);
}

.hovereable {
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.hovereable:hover {
  background-color: var(--blue, blue);
  color: white;
}

.width-50 {
  max-width: 50%;
}

.delete-button {
  float: right;
}
